<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Declaracao Local    
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" /> -->
	
	<!-- Declaracao Remota do CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  </head>
  
  <body>
     <h1>Olá Spring Boot</h1>
   
     <a href="/cadastropessoa">Cadastro Pessoa</a>
     
     <script type="text/javascript">
        window.location.href='/login'
     </script>
     
     
	 <!-- Declaracao Remota do CDN -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
	 <!--Declaração Local 
	 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
	 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script> -->
     
   </body>
</html>